
@{
    ViewBag.Title = "SEG Bot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SEG Bot</h2>
<table style="width:100%;background-color:white;">
    <tr class="">
        <td class="">
            <iframe src='https://webchat.botframework.com/embed/segbot_8vgOGNXk3eR?s=6w19n6kO86U.cwA.-3o.iAjDUjl_wO29C1jleUAUp0tidu9aykgH90nvRX8YsH0' style="height:600px;width:350px;"></iframe>
        </td>
        <td valign="top"><b>
    Probable questions I can understand for now!!!
</b>
            <br /><br />
            <p>Hi</p>
            <p>What is SEG?</p>
            <p>What is this website all about?</p>
            <p>Which features?</p>
            <p>Bye</p>
        </td>
    </tr>
</table>